{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "printWidth": 110,
  "quoteProps": "consistent",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "semi": true,
  "plugins": ["prettier-plugin-organize-imports"]
}
